@charset "utf-8";

@font-face
{
	font-family: 'My Fonts';
	src: url('./fonts/AdobeHeitiStd-Regular.otf');
}

@font-face
{
	font-family: 'My Fonts';
	unicode-range: U+00-024F;
	src: url('../fonts/Helvetica-LT-55-Roman.ttf');
}

body{
	font-family: My Fonts;
}

#game-area{
  border-color: black;
  border-width: 2px;
  border-style: solid;
  height: 90%;
	width: 70%;
  left: 10px;
  top: 10px;
	position: absolute;
}

#bomb{
	position: absolute;
}

#ball{
	top: 10px;
	left: 10px;
	position: absolute;
	display: none;
}

#scoreboard{
	left: 75%;
	width: 24%;
	position: absolute;
}

#bar{
	height: 5%;
  width: 20%;
  top: 95%;
	left: 5%;
  position: absolute;
}

#barimg{
	box-sizing: content-box;
	height: 100%;
	width: 100%;
}

#scoreboard{
  font-size: 36px;
}
